.box_one {
    background-color: white;
    padding: 20px;
    height: 470px;
    width: 800px;
    margin: 50px;
    position: relative;
    right: 150px;
   }
   .box-two {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 450px;
    width: 400px;
    margin: 50px;
   }
   
   p {
    font-size: 16px;
    font-family: Arial;
    color: rgb(59, 87, 87);
    line-height: 30px;
    margin-bottom: 12px;
   }
   .column {
    float: left;
    width: 50%;
    padding: 5px;
   }
   .row::after {
    content: "";
    clear: both;
    display: table;
   }